<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">Adventurous Activities Outdoors First Aid</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>Traditional first aid and HSE approved courses are designed for the common medical problems, telephone communications, ambulances and hospitals of the urban area.</p>
                        <p>At Venture Medical we use our years of practical experience to provide an appropriate skills based training course that takes normal urban practices and, using limited resources we would have available in reality, makes them relevant to the medical problems we may experience in the outdoors.</p>
                        <p>There are still areas where you will not get a mobile phone signal. Rescues will still be hampered or delayed by terrain and weather conditions. In reality, a medical emergency in the wilderness is a grave situation.</p>
                        <p>At Venture Medical we aim to provide you with the skills and knowledge to provide emergency medical care in remote and hostile environments with limited equipment and the possibility of a long and arduous evacuation to definitive medical care.</p>
                        <p>In remote settings the practitioner will be called upon to make decisions that even ambulance crews, who will routinely transport to hospital, may not be called upon to make. It may be appropriate to attempt to straighten limb fractures, clean wounds or consider clearing a potential spinal injury in a remote setting, techniques you would never dream of attempting in the comfort of an urban setting.</p>
                        <p>Our two day, independently assessed and certificated Adventurous Activities Outdoors First Aid course has been designed specifically with the multi disciplined outdoor leader or adventurer in mind.</p>
                        <p>Using a well balanced mix of theory and practical sessions, backed up by instructors with first hand and extensive experience of providing medical assistance in some of the most hostile environmental arenas known, this course provides you with the knowledge to deal safely and effectively with medical injuries and emergencies when help may be some considerable time away. As such, the course includes elements of practice normally only found contained  in advanced first aid courses but which may be critical to the multi disciplined outdoor instructor or adventurer.</p>
                        <p>The level of instruction provided over both days also makes this course suitable for meeting the requirements of various NGB Awards such as MLTB, SMBLT, BCU, BASI as well as youth leaders, expedition leaders, Scouts, Guides, Boys Brigade, Duke of Edinburgh’s Award practitioners and other youth organisations.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/mlkit.jpg" width="289" height="213">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>Syllabus is based around the equipment you will be carrying in <strong><i>reality</i></strong> and includes:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <ul>
                            <li>The role of the first aider</li>
                            <li>First aid priorities</li>
                            <li>Chain of survival</li>
                            <li>Dealing with unconscious casualties</li>
                            <li>Immediate life threatening injuries</li>
                            <li>Common illnesses</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <ul>
                            <li>Common outdoor injuries</li>
                            <li>Awaiting rescue and getting found</li>
                            <li>Assisting Mountain Rescue & Ambulance services</li>
                            <li>Dealing with major trauma</li>
                            <li>Improvised splinting</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <ul>
                            <li>Safe helmet removal</li>
                            <li>Heat and cold injuries</li>
                            <li>Moving and evacuation</li>
                            <li>Introduction to the use of Epi-pens</li>
                            <li>First aid equipment fit for purpose</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost: </strong>£100 includes certification valid for three years and comprehensive manual.
                    </div>
                    <div class="span12">
                        <i>Discounts available for groups and courses can be undertaken in your own premises. Contact us with your requirements or for alternative dates.</i>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
<p style="margin-bottom: 250px;"></p>
</div>


