<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">Anaphylaxis Management Training</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>This 2 hour course is designed to give information on Anaphylaxis and Anaphylactic Shock. It is a very popular course and is used by many Schools, Colleges, Universities, Early Years Teams, Child Minders, Nurseries and Parents as well as Youth Groups. It provides training in the use of an Epi-Pen / Ana Pen and knowledge and confidence to deal with this potentially and ever more common life threatening emergency.</p>
                        <p>On successful completion of the course the candidate is awarded with a Venture Medical certificate valid for three years. The certificate will state that the holder has received training in the safe use of an Epi Pen & Ana Pen.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/epipen.jpg" width="300" height="96">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>The course syllabus includes:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul>
                            <li>Incident management and developing a care plan</li>
                            <li>Recognition of signs and symptoms</li>
                            <li>Management of an unconscious Child or Baby</li>
                            <li>Practical session using Epi Pen & Ana Pen training devices</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost: </strong>£35 per participant which includes 3 year certificate.
                    </div>
                    <div class="span12">
                        <i>Discounts available for groups / organisations and courses can be undertaken in your own premises. Contact us with your requirements or for alternative dates.</i>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


