<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">Bike Safe - Immediate First Aid for Bikers</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>Motorcycle accidents and fatalities are currently the lowest on record with a 9% reduction in the last year. [Dept. of Transport Annual Report 2012]</p>
                        <p>Good news, but accidents do still happen on an all too frequent basis and the immediate actions of others on scene can have an incredible effect on a positive outcome for casualties.</p>
                        <p>Our Bike Safe course is designed to help you assist with that positive outcome with training to provide immediate life-saving assistance until definitive medical care arrives.  That’s what can make all the difference, the difference between life and death.</p>
                        <p>“Just do nothing” isn’t an option so we’ll teach you what to do, when to do it and how to do it right.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/bike.png" width="300" height="177">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>This three hour course is most definitely First Aid without the fuss and will cover:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <ul>
                            <li>Approaching and protecting the scene and the casualty</li>
                            <li>Mechanism of injury – dealing with Trauma</li>
                            <li>Spinal Immobilisation</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <ul>
                            <li>Safe helmet removal – How to do it, when to do it and when to leave it on</li>
                            <li>Basic life support and CPR</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost:</strong> £25 per participant.
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


