<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">Canine First Aid</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>Your dog is a huge part of your life and a valued member of your family. Everyone recognises the need for and benefits of first aid education for the humans in your life and now there is no excuse to lack that essential life saving information where your canine best friend is concerned.</p>
                        <p>Would you know what to do if your dog was involved in an accident or had a medical emergency?</p>
                        <p>This course provides information on what to do in a variety of emergency situations, giving you the knowledge and confidence to be able to help. It covers CPR, heatstroke, shock, choking, hypothermia, bandaging wounds & fractures and much more.</p>
                        <p>This course is a must for dog owners, dog lovers and anyone who works with dogs and your qualified canine first aid instructor will guide you through the course in a way that will make you confident to deal with any emergencies that may arise.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/dog.jpg" width="177" height="164">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>The course syllabus includes:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <ul>
                            <li>CPR and Rescue Breaths</li>
                            <li>Choking</li>
                            <li>Bandaging Wounds</li>
                            <li>Shock</li>
                            <li>Injury to the Spine</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <ul>
                            <li>Fractures</li>
                            <li>Serious Bleeds</li>
                            <li>Injury Check</li>
                            <li>Burns</li>
                            <li>Hypothermia</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <ul>
                            <li>Heatstroke</li>
                            <li>Personal Safety Measures</li>
                            <li>Assessing the Scene</li>
                            <li>Canine First Aid Equipment</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        On successful completion of the course, the candidate will be awarded a Canine First Aid certificate which is valid for 2 years.
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


