<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">Parent and Family First Aid</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>A no nonsense one day first aid course for parents and families who want to know basic child and baby specific first aid. The course is designed around the needs of parents and families looking for a sound knowledge of first aid skills for the younger patient.</p>
                        <p>It is not suitable for professionals working in the field of child care who should attend the two day Paediatric First Aid course which fulfils the industry requirements.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/family.jpg" width="300" height="177">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>The course syllabus includes:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <ul>
                            <li>CPR</li>
                            <li>Choking</li>
                            <li>Bleeding</li>
                            <li>Shock</li>
                            <li>Anaphylaxis</li>
                            <li>Poisoning</li>
                            <li>Febrile Convulsions</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <ul>
                            <li>Meningitis</li>
                            <li>Fractures</li>
                            <li>Eye Injuries</li>
                            <li>Head Injuries</li>
                            <li>Burns and Scalds</li>
                            <li>Diabetes, Epilepsy, Asthma</li>
                            <li>Bites and Stings</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost:</strong> £60 per participant.
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


