<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">GP and Dental Practice Medical Intervention for Professionals</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>This course is designed in conjunction with the clinical guidance documents from the UK Resuscitation Council for resuscitation emergencies within General and Dental Practices and allows practice staff to complete their yearly resuscitation updates.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/dental.jpg" width="200" height="294">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>This three hour course is certificated and fulfils the CPD criteria for General and Dental practices. It covers:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul>
                            <li>CPR for Adult and Child</li>
                            <li>Choking</li>
                            <li>Anaphylaxis</li>
                            <li>Asthma</li>
                            <li>Cardiac Emergencies</li>
                            <li>Epileptic Seizures</li>
                            <li>Hypoglycaemia</li>
                            <li>Syncope</li>
                            <li>Specialist equipment use and O2 therapy including OP airways and bag valve mask resuscitation.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost:</strong> £60 per participant.
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


