<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">First Aid at Work Refresher (2 Days)</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>A Health & Safety Executive approved course that complies with the Health & Safety (First Aid) Regulations 1981 for the re-qualification of First Aiders that currently hold a valid First Aid at Work qualification but is due for renewal.</p>
                        <p><i>Please Note: You MUST have a valid FAW certificate prior to attending this course.</i></p>
                    </div>
                    <div class="span3">
                        <img src="/img/fabox.jpg" width="200" height="200">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>The course offers an overview and refresher of all subjects taught on the full 3 day First Aid at Work course. Any updates regarding techniques or legislation will also be imparted to the candidate.</p>
                        <p>Subjects include:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul>
                            <li>Aims and principles of First Aid</li>
                            <li>Basic life support</li>
                            <li>Management of the unconscious casualty</li>
                            <li>Assessment and treatment of a casualty who is wounded, bleeding or shocked</li>
                            <li>Assessment and treatment of fractures, dislocations and soft tissue injuries</li>
                            <li>Assessment and treatment of burns, poisoning and eye injuries</li>
                            <li>Assessment and treatment of common major and minor illnesses</li>
                            <li>Prevention of cross-infection during First Aid procedures</li>
                            <li>Emergency transport of casualties</li>
                            <li>Legal aspects of First Aid at Work - record keeping and use of equipment</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost:</strong> £175 includes three year certificate renewal and manual.
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


