<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">Emergency First Aid at Work (1 Day)</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>HSE Approved one day Emergency First Aid at Work course is designed for smaller workplaces that present few health and safety risks to employees. This training enables a first aider to give emergency first aid to someone who is injured or becomes ill while at work. It is the most basic of the approved content first aid courses from the HSE.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/fabox.jpg" width="200" height="200">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>The emergency first aid course will last at least 6 contact hours over the days training, excluding breaks and will cover:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <ul>
                            <li>The role of the first aider including reference to the use of available equipment and the need for recording incidents and actions;</li>
                            <li>The importance of basic hygiene in first aid procedures;</li>
                            <li>Assess the situation and circumstances in order to act safely, promptly and effectively in an emergency;</li>
                            <li>How to administer first aid safely, promptly and effectively to a casualty who is unconscious and/or in seizure;</li>
                            <li>How to administer cardiopulmonary resuscitation promptly and effectively;</li>
                            <li>How to administer first aid safely, promptly and effectively to a casualty who is wounded or bleeding and/or in shock;</li>
                            <li>Administer first aid safely, promptly and effectively to a casualty who is choking;</li>
                            <li>Provide appropriate first aid for minor injuries.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost:</strong> £75 which includes certificate valid for three years and comprehensive first aid manual.
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


