<div class="container" style="margin-top: 20px;">
    <h2 style="color: #0063a8;">Security Operatives Trauma Management Training</h2>

    <div class="tabbable" style="margin-top: 20px"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab">Syllabus</a></li>
            <li><a href="#tab3" data-toggle="tab">Dates</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="span9">
                        <p>A course like no other currently available on the market this goes beyond the basics and limitations of standard Emergency First Aid courses and instead teaches you, the front line practitioner, to deal with the type of injuries and emergencies you are realistically likely to encounter and the skills and equipment suited to allow you to save lives.</p>
                        <p>Using the most up to date training and equipment, many developed direct from current front lines in Iraq and Afghanistan, this no nonsense course looks at the type of trauma injuries your patrons or fellow staff may fall victim to and trains you how to deal with them quickly, efficiently and effectively.</p>
                        <p>Stand that bit further above the competition with the Venture Medical Security Trauma Course.</p>
                        <p>Successful candidates will be awarded the Venture Medical Certificate in Security Operatives Trauma Management valid for two years.</p>
                        <p>Using instructors with over twenty years experience in front line trauma injuries associated with the specialist field of security work, this one day course is ideal practical training for all those involved as an operative in the security industry who regularly deal with members of the public in entertainment venues.</p>
                    </div>
                    <div class="span3">
                        <img src="/img/security.jpg" width="200" height="300">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="span12">
                        <p>The course syllabus includes:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <ul>
                            <li>The role of the Trauma trained first aider</li>
                            <li>First aid priorities</li>
                            <li>Safe operating areas and scene safety</li>
                            <li>Operating in the indoor environment</li>
                            <li>Chain of survival</li>
                            <li>Dealing with unconscious casualties</li>
                            <li>Immediate life threatening injuries and major trauma</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <ul>
                            <li>Assisting Ambulance services</li>
                            <li>Medical handovers – what the medics need to know</li>
                            <li>Moving and evacuation</li>
                            <li>Advanced airway management</li>
                            <li>Specialist medical equipment</li>
                            <li>Trauma First aid kits fit for purpose</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span11 alert alert-info">
                        <strong>Cost:</strong> £75 per participant which includes certificate (valid for 2 years).
                    </div>
                    <div class="span12">
                        <i>Discounts available for groups and courses can be undertaken in your own premises. Contact us with your requirements or for alternative dates.</i>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div class="row">
                    <div class="span12">
                        We are running this course on the following dates. Please use the links below to enquire or to book a place on one of our courses:
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="margin-bottom: 250px;"></p>
</div>


