<div class="container" style="margin-top: 20px;">
<h2 style="color: #0063a8;">First Aid Courses</h2>

    <section>
        <div class="page-header">
            <h3>Outdoors/Specialist First Aid <small>for first aid in specific areas</small></h3>
        </div>
        <div class="row">
            <div class="span1">
                <img src="/img/mlkit_small.jpg" style="padding-left: 10px; padding-top: 10px;">
            </div>
            <div class="span5">
                <a href="#courses/adventurous_activities"><h4>Adventurous Activities Outdoors First Aid</h4></a>
                <p>Our two day, independently assessed and certificated Adventurous Activities Outdoors First Aid course has been designed specifically with the multi disciplined outdoor leader or adventurer in mind.</p>
            </div>
            <div class="span1">
                <img src="/img/security_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/security_operatives"><h4>Security Operatives Trauma Management Training</h4></a>
                <p>Teaches you to deal with the type of injuries and emergencies you are realistically likely to encounter and the skills and equipment suited to allow you to save lives.</p>
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="span1">
                <img src="/img/dog_small.jpg" style="padding-left: 10px; padding-top: 10px;">
            </div>
            <div class="span5">
                <a href="#courses/canine"><h4>Canine First Aid</h4></a>
                <p>This course provides information on what to do in a variety of emergency situations, giving you the knowledge and confidence to be able to help. It covers CPR, heatstroke, shock, choking, hypothermia, bandaging wounds &amp; fractures and much more.</p>
            </div>
            <div class="span1">
                <img src="/img/soon_small.gif" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/intervention"><h4>Advanced Medical Intervention</h4></a>
                <p>Coming Soon...</p>
            </div>
        </div>
    </section>

    <section style="margin-top: 50px;">
        <div class="page-header">
            <h3>HSE Approved Workplace <small>for first aid at work</small></h3>
        </div>
        <div class="row">
            <div class="span1">
                <img src="/img/fabox_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/hse_emergency"><h4>Emergency First Aid at Work (1 Day)</h4></a>
                <p>HSE Approved one day Emergency First Aid at Work course is designed for smaller workplaces that present few health and safety risks to employees.</p>
            </div>
            <div class="span1">
                <img src="/img/fabox_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/hse_work"><h4>First Aid at Work (3 Day)</h4></a>
                <p>This course is designed for the larger employer where the staff numbers exceed 50 employees or for workplaces with more than five staff where the risks of injury are higher such as construction, engineering or manufacturing industries.</p>
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="span1">
                <img src="/img/fabox_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/hse_refresher"><h4>First Aid at Work Refresher (2 Day)</h4></a>
                <p>A course for the re-qualification of First Aiders that currently hold a valid First Aid at Work qualification but is due for renewal.</p>
            </div>
        </div>
    </section>

    <section style="margin-top: 50px;">
        <div class="page-header">
            <h3>General First Aid <small>aimed for families and babysitters</small></h3>
        </div>
        <div class="row">
            <div class="span1">
                <img src="/img/teddy_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/childcare"><h4>Paediatric First Aid for Childcare workers and Babysitters</h4></a>
                <p>This 12 hour course meets the criteria required by The Department for Education and Skills (DFES) and the Statutory Framework for the Early Years Foundation Stage.</p>
            </div>

            <div class="span1">
                <img src="/img/aed_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/aed_training"><h4>AED Training</h4></a>
                <p>This 4 hours course includes basic life support and is designed for people who will have access to an Automated External Defibrillator.</p>
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="span1">
                <img src="/img/epipen_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/anaphylaxis"><h4>Anaphylaxis Management Training</h4></a>
                <p>This 2hr course is designed to give information on Anaphylaxis and Anaphylactic Shock. It provides training in the use of an Epi-Pen / Ana Pen.</p>
            </div>
            <div class="span1">
                <img src="/img/family_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/family"><h4>Parent and Family First Aid</h4></a>
                <p>A no nonsense one day first aid course for parents and families who want to know basic child and baby specific first aid</p>
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="span1">
                <img src="/img/dental_small.jpg" style="padding-left: 10px; padding-top: 0px;">
            </div>
            <div class="span5">
                <a href="#courses/general_and_dental"><h4>Medical Emergencies for General and Dental Practices</h4></a>
                <p>A course designed for resuscitation emergencies within General and Dental Practices and allows practice staff to complete their yearly resuscitation updates.</p>
            </div>
        </div>
    </section>
</div>

