<div class="span12">
    <h3 style="">Facebook Posts</h3>

    <% _.each(posts, function(post, i) { %>

        <% if (i % 2 === 0) { %>
            <div class="row" <% if (i > 0) { %> style="margin-top: 10px;" <% } %>>
        <% } %>

        <div class="span5 <% if (i % 2 == 1) { %> offset1 <% } %> well">
            <div class="span1" style="margin-left: 0px;">
                <% if (post.picture) { %>
                    <img src="<%= post.picture %>" class="img-polaroid"/>
                <% } else { %>
                    <img src="http://placehold.it/260x180" class="img-polaroid"/>
                <% } %>
            </div>
            <div class="span4">
                <h5 style="padding-top: 0px; margin-top: 0px;"><% if (post.name) { print(post.name); } %> <i>(<% if (post.created_time) { print(post.created_time); } %>)</i></h5>
                <p><%= post.message %></p>
                <% if (post.description) { %><p><i><%= post.description %></i></p><% } %>
                <% if (post.link) { %><span class="pull-right"><a href="<%= post.link %>">More Info...</a></span><% } %>
            </div>
        </div>

        <% if (i % 2 === 1) { %>
            </div>
        <% } %>

    <% }); %>
</div>