<div class="container" style="margin-bottom: 125px;">
    <h2 style="margin-top: 20px; margin-bottom: 20px; color: #0063a8;">FAQs</h2>

    <p>Below are answers to some frequently asked questions. If you cannot find the answer you are looking for people feel free to <a href="#contact">contact us</a>.</p>

    <div class="row question">
        <div class="span12" style="margin-top: 10px; margin-left: 20px;">
            <ul id="faq">
                <li>
                    <h5>Why should I choose Venture Medical as my First Aid provider?</h5>
                    <div>
                        <p>Venture Medical was established by Craig Borthwick to fill what he saw as a genuine gap in the first aid market - realistic first aid courses, fit for purpose and taught by people who knew first hand the skills needed to get by.</p>
                        <br/><p>A Police Officer for twenty years, Craig had attended many first aid and emergency medical courses as a member of specialist firearms teams, a rope access operative and latterly as a member of a busy Mountain Rescue Team where as well as being "on the hill" he performed a role as an assistant training officer.</p>
                        <br/><p>Gathering his instructing, teaching and CPD qualifications in an array of disciplines throughout the years, he began to specialise in the provision of medical assistance, firstly as a direct result of the requirements of NGB's and other outdoor and sports qualifications he held but latterly through developing a genuine interest in this specialist field.</p>
                        <br/><p>At Venture Medical we believe that it's important that anyone instructing our courses also currently practice the reality of providing medical aid. To that end you'll find that our instructors hone their personal first aid skills and practice what they preach, either through emergency services work or other voluntary services such as the Scottish Ambulance Service Community First Responders.</p>
                        <br/><p>This means our instructors are up to date professionals with a breadth of hands on experience sadly lacking from many first aid providers.</p><p><br>In short, we can talk the talk AND walk the walk!</p>
                    </div>
                    <span></span>
                </li>
                <li>
                    <h5>I’m currently undertaking a National Governing Body Award and need a suitable First Aid certificate.</h5>
                    <div>
                        <p>Then you need to look at our Adventurous Activities Outdoor Course. This course fulfils all the requirements of the common NGB's and then adds some more skills that, through experience, we see as essential. Whilst removing a crash helmet may be seen as an advanced skill to many, to us at Venture Medical it's an essential skill for those adventurers that like to blast the red routes of the 7 stanes.</p>
                    </div>
                    <span></span>
                </li>
                <li>
                    <h5>Do you provide HSE courses?</h5>
                    <div>
                        <p>Yes. After much deliberating and requests we have finally agreed to start instructing HSE Approved First Aid Courses. We had always been reticent to do so as, like many people in the past, we too have sat through dull, lifeless presentations surrounded by people who have found themselves there through work requirements rather than choice.</p>
                        <br/><p>We aim to change all that!</p>
                        <br/><p>There is no reason for an HSE first aid course not to reach the high standard of instruction we pride ourselves on at Venture Medical UK whilst being fun, challenging and a memorable learning experience. Furthermore, our instructors are experienced enough to tailor YOUR first aid course to YOUR first aid requirements to ensure you or your employees receive realistic training for their needs.</p>
                    </div>
                    <span></span>
                </li>
                <li>
                    <h5>But doesn't my First Aid course have to be an HSE one for my NGB Qualification?</h5>
                    <div>
                        <p>Certainly not!!</p><br/>
                        <p>From the MLTE website:<br><i>"As this [HSE] course is designed around workplace specific incidents therefore it may not be the most appropriate course. However it would still be accepted for your award."</i><br/><a href="http://www.mlte.org/content.php?nID=42" target="_blank"> You can read the rest here.</a></p><p><br>In reality most seeking qualification for NGB's will seek out a course that teaches them how to deal with what they will realistically face in their chosen activity.</p>
                    </div>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>

</div>