<div class="footer">
    <div class="container">
        <div class="row" style="margin-top: 18px;">
            <div class="span4">
                <p>© venture-medical.com 2012</p>
                <a href="http://www.facebook.com/VentureMedicalUK"><img src="/img/facebook.png" alt="Join us on facebook"></a>
                <a href="http://twitter.com/#!/VentureMedical"><img src="/img/twitter.png" alt="Join us on twitter"></a>
                <a href="http://www.youtube.com/user/VentureMedicalUK"><img src="/img/youtube.png" alt="View our youtube channel"></a>
                <a href="http://venturemedicaluk.wordpress.com/"><img src="/img/wordpress.png" alt="View our blog"></a>
            </div>
            <div class="span4 offset4" style="margin-top: 20px">
                <div class="smallLogo rightAlign">Craig Borthwick</div>
            </div>
        </div>
    </div>
</div>