<div class="container">
    <div class="row headerRow">
        <div class="span5"><div class="logo"/></div>
        <div class="span7">
            <ul id="mainMenu" class="nav nav-pills rightAlign">
                <li class="active home"><a href="#">Home</a></li>
                <li class="dropdown courses">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li><a href="#courses"><b>Course Overview</b></a></li>
                        <li class="nav-header">Outdoors/Specialist</li>
                        <li><a href="#courses/adventurous_activities">Adventurous Activities First Aid</a></li>
                        <li><a href="#courses/winter_hills">First Aid in the Winter Hills</a></li>
                        <li><a href="#courses/outdoor_refresh">Outdoors Scenario Refresher</a></li>

                        <li><a href="#courses/general_and_dental">GP and Dental Practice Medical Intervention</a></li>
                        <li><a href="#courses/intervention">Emergency Medical Intervention</a></li>

                        <li class="nav-header">SQA Approved (formerly HSE)</li>
                        <li><a href="#courses/hse_emergency">Emergency at Work (1 Day)</a></li>
                        <li><a href="#courses/hse_refresher">First Aid Refresher (2 Days)</a></li>
                        <li><a href="#courses/hse_work">First Aid at Work (3 Days)</a></li>

                        <li class="nav-header">General First Aid</li>
                        <li><a href="#courses/childcare">Childcare First Aid</a></li>
                        <li><a href="#courses/aed_training">AED Training</a></li>
                        <li><a href="#courses/anaphylaxis">Anaphylaxis Management</a></li>
                        <li><a href="#courses/family">Family First Aid</a></li>
                    </ul>
                </li>
                <li class="gallery"><a href="#gallery">Gallery</a></li>
                <li class="instructors"><a href="#instructors">Instructors</a></li>
                <li class="downloads"><a>Downloads</a></li>
                <li class="faqs"><a href="#faqs">FAQs</a></li>
                <li class="contact"><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>