<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="span7">
            <h2 style="margin-bottom: 10px; color: #0063a8;">Providing the Confidence so you can Venture further</h2>
            <p>Venture Medical is an established instructor based company that provides realistic, hands on training to deal with medical emergencies whether they occur in the home or in the wilderness.</p>
            <p>Bringing with them years of real experience in some of the most hostile environments known, our instructing staff can not only talk the talk, they can most definitely walk the walk, something which they saw as sadly lacking in many First Aid courses.</p>
            <p>With Venture Medical, not only do you get some of the most up to date and professional training available, you get the benefit of being taught by instructors who know first hand what it’s like to cope with life threatening emergencies where help is a long way away.</p>
            <a href="#/courses/" class="btn btn-primary" style="margin-top: 15px;">Learn More</a>
        </div>
        <div class="span5">
            <ul class="thumbnails">
                <li class="span5">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="clear" style="margin-top:30px; margin-bottom:30px;"><hr></div>

   <div id="fb-root"></div>

    <iframe src="http://www.facebook.com/plugins/facepile.php?href=http://venture-medical.herokuapp.com&amp;size=small&amp;width=292&amp;max_rows=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px;"></iframe>

    <div class="fb-facepile" data-href="http://www.facebook.com/VentureMedicalUK" data-size="large" data-max-rows="1" data-width="940"></div>

    <div class="clear" style="margin-top:30px; margin-bottom:30px;"><hr></div>

    <div class="row" style="margin-top: 40px;">
        <div class="span4">
            <h3>If you believe in organ donation, prove it</h3>
            <img class="img-polaroid" src="/img/donor.jpg" width="180" height="162">
            <p>Would you take an organ if you needed one? Nearly everyone would. But only 28% of us have joined the Organ Donor Register.</p><p>More than 10,000 people in the UK currently need a transplant. Of these, 1000 each year – that's three a day - will die waiting as there are not enough organs available.</p><p>Please help us to turn people’s good intentions about organ donation into action by registering on the <a href="http://www.organdonation.nhs.uk/ukt/" target="_blank">NHS Organ Donor Register.</a></p>
        </div>
        <div class="span4">
            <h3>Sign up for 999 text service</h3>
            <img src="/img/textService.jpg" width="180" height="162">
            <p>Heather Morning, the MCofS mountain safety advisor, is urging mountaineers to register for the new service.  She said: "You can now contact the 999 emergency services by SMS text from your mobile phone. This is going to be particularly useful for those needing 999 assistance in the hills when mobile phone reception is often intermittent and there is not enough signal to make a call."</p><p>You must register for the service which you can do for free <a href="http://www.emergencysms.org.uk/" target="_blank">here.</a></p>
        </div>
        <div class="span4">
            <h3>Be Social... follow us</h3>
        </div>
    </div>
</div>

